* {
  box-sizing: border-box;
}

body, html {
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  color: $baseFontColor;
  background: $white;
}

a {
  color: $guardianBlue;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: $headerFontSize;
}

h2 {
  font-size: $largeFontSize;
}

h3 {
  font-size: $largeFontSize;
  color: $guardianBlue;
  margin-bottom: $baseline;
}

p {
  margin-bottom: $baseline;
}

.text-blue {
  color: $guardianBlue;
}

.btn {
  border: none;
  border-bottom: 1px solid $guardianLightBlue;
  margin-bottom: $baseline;
  background: none;
  padding: $baseline;
  cursor: pointer;
  display: block;

  &:hover {
    background: darken($grey, 5);
  }

}