// Content

.content {
  padding: $baseline;
  position: relative;

  &__loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: $headerFontSize;
    color: $guardianLightBlue;
    text-align: center;
  }
}