// Item - sits inside itemlist

.item {
  display: block;
  background: $grey;
  padding: $baseline;
  border-top: 1px solid $guardianLightBlue;
  margin-bottom: $baseline;
  overflow: hidden;

  &__name {
    color: $guardianBlue;
  }

  &__description {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__count {
    font-size: $largeFontSize;
    color: $guardianLightBlue;
  }

  &__number {
    font-size: $headerFontSize;
    color: $guardianBlue;
  }
}